<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cryptotd_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".jual_yfi"></activity>
        <activity android:name=".jual_link" />
        <activity android:name=".jual_bnb" />
        <activity android:name=".jual_eth" />
        <activity android:name=".jual_btc" />
        <activity android:name=".beli_yfi" />
        <activity android:name=".beli_link" />
        <activity android:name=".beli_bnb" />
        <activity android:name=".beli_eth" />
        <activity android:name=".jualbeli_yfi" />
        <activity android:name=".jualbeli_link" />
        <activity android:name=".jualbeli_bnb" />
        <activity android:name=".jualbeli_eth" />
        <activity android:name=".beli_btc" />
        <activity android:name=".jualbeli_btc" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".home"/>
        <activity android:name=".profile_setting"/>
        <activity android:name=".buat_akun" />
        <activity android:name=".berita" />
        <activity android:name=".wallet" />
        <activity android:name=".akun"></activity>
        <activity android:name=".login"/>
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>